/* CSS custom properties / CSS variables */

:root {
  --darkmagenta: #8b008b;
  --magenta: #ff00ff;
  --royalblue: #4169e1;
  --teal: #008080;
  --violet: #9400d3;
}

/* Use attribute selectors for the first part of the exercise */

li[class=dog],
li[class=hedgehog]{
  color: var(--magenta);
}
li[class="cat dog parrot"]{
  color: var(--royalblue);
}
li[class=parrot]{
  color: var(--green);
}

li[id=cat]{
  color: var(--teal);
}

li[class=donkey]{
  color: var(--royalblue);
}

/* Use descendant, child, and sibling selectors for the second part */

section li.first {
  color: var(--green);
}
section li.second {
  color: var(--magenta);
}
section li.second + li {
  color: var(--royalblue);
}
section li.second + li + li{
  color: var(--magenta);
}

section div li{
  color: var(--green);
}